.containerBook {
  display: flex;
  margin: 48px;
  padding: 16px 32px;
  align-items: center;
  background-color: white;
  border: 1px solid #d8d8d8;
  border-radius: 4.8px;
}

.category {
  font-size: 14px;
  font-weight: bold;
  color: #999898;
}

.author {
  font-size: 10px;
  color: #1295ed;
}

.titleOne {
  font-size: 16px;
  font-weight: bold;
  color: #000;
}

.titleTwo {
  font-size: 16px;
  font-weight: bold;
  color: #000;
}

.titleThree {
  font-size: 16px;
  font-weight: bold;
  color: #000;
}
